@*﻿@model ImperialNova.ViewModels.InventoryActionViewModel
    @{
        ViewBag.Title = "Action";
    }*@


<div class="card">

    <div class="card-body">

        <h2 class="card-title">
            Transfer Stock
        </h2>
        <br />
        <br />


        <form id="actionForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" value="@Model._Id" name="ID" />
                        <label for="name">Store:</label>
                        <select onchange="dropdownfiller()" class="form-control" name="_Store" id="_Store">
                            @foreach (var item in Model.Locations)
                            {
                                <option selected value="@item._LocationName">@item._LocationName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Products:</label>
                        <select class="form-control" name="_ProductId" id="_ProductId">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="_Cost">Quantity:</label>
                        <input value="@Model._QuantityOut" type="number" class="form-control" name="_QuantityOut" id="_QuantityOut" />
                    </div>
                    <button type="button" id="AdddToTableBtn" class="btn btn-sm btn-rounded btn-primary">Take Out</button>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Transfer To (Store):</label>
                        <select onchange="dropdownfiller()" class="form-control" name="_StoreTo" id="_StoreTo">
                            @foreach (var item in Model.Locations)
                            {
                                <option selected value="@item._LocationName">@item._LocationName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table" id="ProductsTable">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Color
                                </th>
                                @if (User.IsInRole("Admin"))
                                {
                                    @*<th>
                Retail Price
            </th>*@
                                    <th>
                                        Retail Price
                                    </th>

                                }
                                <th>
                                    Quantity
                                </th>

                                <th>Quantity Out</th>
                                <th>Warehouse</th>
                                @*<th<th>Quantity Out</th>>Notes</th>
        <th>
            Store
        </th>*@
                                <th hidden>
                                    Category
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>

    </div>

    <div class="errorDiv">

    </div>



    <div style="background-color:white;" class="card-footer">

        <button id="actionButton" type="button" class="btn btn-danger btn-sm btn-rounded"><i class="fas fa-save mr-1"></i> TAKE STOCK</button>
        <a href="@Url.Action("Index","Inventory")" class="btn btn-secondary btn-sm btn-rounded"  data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</a>
    </div>


</div>

@if (User.IsInRole("Admin"))
{
    <script>
          function dropdownfiller() {
              var selectedLocation = $("#_Store").val();
              $("#_ProductId").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProductInventoryJsonOut", "Inventory")',
                data: { location: selectedLocation },
                success: function (response) {
                    populateProductsDropdown(response);
                    console.log("Location updated on the server.");
                },
                error: function (xhr, status, error) {
                    console.error("Error updating location: " + error);
                }
            });
        }

    function populateProductsDropdown(products) {
        var productsDropdown = $("#_ProductId");
        productsDropdown.empty();

        // Add options to the dropdown based on the products data
        products.forEach(function (product) {
            var optionText = `${product._Name} | ${product._Size} | ${product._Color} | Available Units: ${product._Quantity}`;
            productsDropdown.append($("<option>", { value: product._Id, text: optionText }));
        });
    }
    function appendProductToTable(product, quantityout, store, to) {
        
        var row = `
                <tr>
                    <td>${product._Id}</td>
                    <td>${product._Name}</td>
                    <td>${product._Size}</td>
                    <td>${product._Color}</td>
                    <td>£${product._RetailPrice}</td> 
                    <td>${product._Quantity}</td>  
                    <td>${quantityout}</td>                 
                    <td>${store}</td>
                    <td hidden>${product._CategoryId}</td>
                    <td></td>
                </tr>
            `;

        $('#ProductsTable tbody').append(row);
    }

    var StoreTo;

    $("#AdddToTableBtn").click(function () {
        var ProductID = $("#_ProductId").val();
        var QuantityOut = $("#_QuantityOut").val();
        var Store = $("#_Store").val();
        StoreTo = $('#_StoreTo').val();
        $.ajax({
            url: '@Url.Action("GetProductJson", "Inventory")',  // Replace with the actual URL of your controller
            method: 'GET',
            data: { ID: ProductID },
            success: function (data) {
                appendProductToTable(data, QuantityOut, Store, StoreTo);


            },
            error: function () {
                $('#productDetails').html('<p>Failed to fetch product details.</p>');
            }
        });


    });

        $("#actionButton").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();  
        var products = [];

        $('#ProductsTable tbody tr').each(function () {

            var product = {
                _ProductId: $(this).find('td:eq(0)').text(),
                _Name: $(this).find('td:eq(1)').text(),
                _Size: $(this).find('td:eq(2)').text(),
                _Color: $(this).find('td:eq(3)').text(),
                _Cost: $(this).find('td:eq(4)').text(),
                _RetailPrice: $(this).find('td:eq(5)').text(),
                _QuantityIn: $(this).find('td:eq(6)').text(),
                _QuantityOut: $(this).find('td:eq(7)').text(),
                _Notes: $(this).find('td:eq(8)').text(),
                _Store: $(this).find('td:eq(9)').text(),
                _CategoryId: $(this).find('td:eq(10)').text()
            };


            products.push(product);
        });
        var productsJson = JSON.stringify(products);
        
		$.ajax({
			url: '@Url.Action("ActionTransfer", "Inventory")',
			type: "post",
            data: {
                products: productsJson,
                Tostore: StoreTo
            }, // Send serialized string as parameter
        })
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "Stock")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#PhotoUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#Photo").val(response.DocURL);
                    $("#PhotoImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
    </script>
}
else
{
    <script>
          function dropdownfiller() {
              var selectedLocation = $("#_Store").val();
              $("#_ProductId").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProductInventoryJsonOut", "Inventory")',
                data: { location: selectedLocation },
                success: function (response) {
                    populateProductsDropdown(response);
                    console.log("Location updated on the server.");
                },
                error: function (xhr, status, error) {
                    console.error("Error updating location: " + error);
                }
            });
        }

    function populateProductsDropdown(products) {
        var productsDropdown = $("#_ProductId");
        productsDropdown.empty();

        // Add options to the dropdown based on the products data
        products.forEach(function (product) {
            var optionText = `${product._Name} | ${product._Size} | ${product._Color} | Cost: £${product._Cost} | Retail: £${product._RetailPrice} | Available Units: ${product._Quantity}`;
            productsDropdown.append($("<option>", { value: product._ProductId, text: optionText }));
        });
    }
    function appendProductToTable(product, quantityout, store, to) {
        
        var row = `
                <tr>
                    <td>${product._Id}</td>
                    <td>${product._Name}</td>
                    <td>${product._Size}</td>
                    <td>${product._Color}</td>
                    <td hidden>${product._Cost}</td>
                    <td hidden>${product._RetailPrice}</td>
                    <td>${product._QuantityIn}</td>
                    <td>${quantityout}</td>
                    <td>${product._Notes}</td>
                    <td>${store}</td>
                    <td hidden>${product._CategoryId}</td>
                    <td></td>
                </tr>
            `;

        $('#ProductsTable tbody').append(row);
    }

    var StoreTo;

    $("#AdddToTableBtn").click(function () {
        var ProductID = $("#_ProductId").val();
        var QuantityOut = $("#_QuantityOut").val();
        var Store = $("#_Store").val();
        StoreTo = $('#_StoreTo').val();
        
        $.ajax({
            url: '@Url.Action("GetProductJson", "Inventory")',  // Replace with the actual URL of your controller
            method: 'GET',
            data: { ID: ProductID },
            success: function (data) {
                appendProductToTable(data, QuantityOut, Store, StoreTo);


            },
            error: function () {
                $('#productDetails').html('<p>Failed to fetch product details.</p>');
            }
        });


    });

    $("#actionButton").click(function () {
        var products = [];

        $('#ProductsTable tbody tr').each(function () {

            var product = {
                _ProductId: $(this).find('td:eq(0)').text(),
                _Name: $(this).find('td:eq(1)').text(),
                _Size: $(this).find('td:eq(2)').text(),
                _Color: $(this).find('td:eq(3)').text(),
                _Cost: $(this).find('td:eq(4)').text(),
                _RetailPrice: $(this).find('td:eq(5)').text(),
                _QuantityIn: $(this).find('td:eq(6)').text(),
                _QuantityOut: $(this).find('td:eq(7)').text(),
                _Notes: $(this).find('td:eq(8)').text(),
                _Store: $(this).find('td:eq(9)').text(),
                _CategoryId: $(this).find('td:eq(10)').text()
            };


            products.push(product);
        });
        var productsJson = JSON.stringify(products);
        
		$.ajax({
			url: '@Url.Action("ActionTransfer", "Inventory")',
			type: "post",
            data: {
                products: productsJson,
                Tostore: StoreTo
            }, // Send serialized string as parameter
        })
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "Inventory")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#PhotoUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#Photo").val(response.DocURL);
                    $("#PhotoImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
    </script>
}