@model ImperialNova.ViewModels.TodoListListingViewModel

@{
}
<style>
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }
        .del{
            color: red;
        }
.Task{
    display: flex;
    justify-content: space-between;
}
    .fa-file, .fa-edit {
        color: blue;
    }
    .topdiv{
        display: flex;
    }
    .task-checkbox {
        margin-top: 1px;
        margin-right: 6px;
    }
    .btn {
        margin-top: -7px;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body  container-top">
            <div>
                <h2>TodoList </h2>
            </div>
            <div>
                <form>

                    <div class="input-group">

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <a href="@Url.Action("Action", "TodoList")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                    </div>
                </form>
            </div>
        </div>
        @if (Model.todolists != null)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    @foreach (var item in Model.todolists)
                                    {
                                        <div class="Task">
                                            <div class="topdiv">
                                                <input type="checkbox" class="task-checkbox" id="checkbox-@item._Id" @(item._Ticked ? "True" : "")>
                                                <label for="checkbox-@item._Id">@item._DueDate.Date.ToString("yyyy-MM-dd") - @item._Description</label>
                                                <a class="btn" href="@Url.Action("DownloadFile", "Shared", new { path = item._File })">
                                                    <i class="fa fa-file" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="bottomdiv">
                                                <a class="edit" href="@Url.Action("Action", "TodoList", new { ID = item._Id })">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="data-btn del" data-href="@Url.Action("Delete", "TodoList", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.task-checkbox').change(function () {
            var $checkbox = $(this);
            var isChecked = $checkbox.is(':checked');
            var taskId = $checkbox.data('task-id'); // Get the task ID from a data attribute

            // Send an AJAX request to update the database
            $.ajax({
                type: 'POST', // You can use 'PUT' or 'PATCH' depending on your server setup
                url: '/TodoList/UpdateTask', // Replace with the actual URL to your update action
                data: {
                    taskId: taskId,
                    isChecked: isChecked
                },
                success: function (data) {
                    // Handle the response from the server if needed
                    console.log(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        $('.task-checkbox').change(function () {
            var $task = $(this).closest('.Task');
            var $label = $task.find('label');

            if (this.checked) {
                $label.css('text-decoration', 'line-through');
            } else {
                $label.css('text-decoration', 'none');
            }
        });

       
        //function tickmarker() {
        //    if (this.checked) {
        //        $('.Task').css('text-decoration', 'line-through');
        //    } else {
        //        $('.Task').css('text-decoration', 'none');
        //    };

        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>