@model ImperialNova.ViewModels.ProductListingViewModel

@{
}
<style>
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }
    .dataTables_filter {
        float: right;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body  container-top">
            <div>
                <h2>Product </h2>
            </div>
            <div>
                <form>

                    @*<div class="input-group">

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <a href="@Url.Action("Action", "Product")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                    </div>*@
                </form>
            </div>
        </div>
        @if (Model.Products != null)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Photo</th>
                                                <th>SKU</th>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Stock Alert</th>
                                                <th>Location</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Products)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-list" aria-hidden="true"></i>

                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="@Url.Action("Action", "Product", new { ID = item.Product._Id })">
                                                                    <i class="mdi mdi-pencil"></i> EDIT
                                                                </a>
                                                                @*<button data-href="@Url.Action("Delete", "Product", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "Product", new { ID = item.Product._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="mdi mdi-delete"></i> DELETE
                                                                </a>
                                                                <a class="dropdown-item" href="@Url.Action("Preview", "Product", new { ID = item.Product._Id })">
                                                                    <i class="mdi mdi-pencil"></i> PREVIEW
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @if (item.Product._Photo != null)
                                                        {
                                                            <img style="height:50px; width:50px;" src="@item.Product._Photo" />

                                                        }
                                                        else
                                                        {
                                                            <img style="height:50px; width:50px;" src="~/Images/download.png" />

                                                        }
                                                    </td>
                                                    <td>@item.Product._SKU</td>
                                                    <td>@item.Product._Name</td>
                                                    @if (item.Category != null && item.Category._CName != null)
                                                    {
                                                        <td>@item.Category._CName</td>
                                                    }
                                                    else
                                                    {
                                                        <td> No Category available</td>
                                                    }
                                                    <td>@item.Product._LowStockAlert</td>
                                                    @if (item.Warehouse != null && item.Warehouse._LocationName != null)
                                                    {
                                                        <td>@item.Warehouse._LocationName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>No warehouse Available</td>
                                                    }


                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {
        
        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        
    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>