@model ImperialNova.ViewModels.ProductListingViewModel

<style>
    .product-card-container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .product-card {
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 14px;
    }

    .product-table {
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 14px;
    }

    h4 {
        font-size: 16px;
    }

    .stock,
    .stockin,
    .stockout {
        display: flex;
        justify-content: space-between;
    }

    .product-img img {
        border-radius: 100px;
    }

    .product-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
    }

    .details-heading {
        background: #2dbff8;
    }

    .warehouse-card {
        background: #ffffff;
        border-radius: 10px;
        padding: 0px;
        padding-bottom: 30px;
        /* position: relative;
        left: -60px;*/
    }

    .details-heading {
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 20px;
    }

    .warehouse-card h4 {
        margin-inline: 20px;
    }

    .warehouse-card hr {
        margin-bottom: 20px;
    }

    .dynamic-location {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .warehouse-inner-container {
        padding: 0px;
    }
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }

    .dataTables_filter {
        float: right;
    }
    .major-container{
        display: flex;
    }
    .table-container{
        margin-top: 11px;
    }
</style>
<div class="major-container">


    <div class="container col-md-3 product-card-container">

        <div class="product-card">
            @if (Model.Product.Product._Photo != null)
            {
                <div class="product-img">
                    <img style="height:120px; width:120px;" src="@Model.Product.Product._Photo" />
                    <h2>@Model.Product.Product._Name</h2>
                    <h6>@Model.Product.Product._SKU</h6>
                </div>
            }
            else        
            {
            <div class="product-img">
                <img style="height:120px; width:120px;" src="~/Images/download.png" />
                <h2>@Model.Product.Product._Name</h2>
                <h6>@Model.Product.Product._SKU</h6>
            </div>
            }

            <hr />
            <div class="stockin">
                <h4>In</h4>
                <h4>@Model.Product.Product._QuantityIn</h4>
            </div>
            <hr />
            <div class="stockout">
                <h4>Out</h4>
                <h4>@Model.Product.Product._QuantityOut</h4>
            </div>
            <hr />
            <div class="stock">
                <h4>Stock</h4>
                <h4>@Model.Product.Product._Quantity</h4>
            </div>
        </div>
        <div class="warehouse-card">
            <div class="container warehouse-inner-container">
                <h2 class="details-heading">Detail</h2>

                <h4>Location</h4>
                <h4 class="dynamic-location">@Model.Product.Warehouse._LocationName</h4>
            </div>


        </div>


    </div>
    <div class="container col-md-9 table-container">
        <div class="card">
            <div class="card-body  container-top">
                <div>
                    <h2>Product </h2>
                </div>
                <div>
                    <form>
                    </form>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Date</th>
                                                <th>Customer</th>
                                                <th>Qty</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Product.order)
                                            {
                                                <tr>
                                                    <td>@item._Date.ToString("yyyy-MM-dd")</td>
                                                    <td>@item._Customer</td>
                                                    <td>@item._Quantity</td>
                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

        </div>
    </div>
</div>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>

