@model ImperialNova.ViewModels.ProductListingViewModel

@{
}
<style>
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }

    .dataTables_filter {
        float: right;
    }
    #date-start{
        margin-left: 20px;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body  container-top">
            <div>
                <h2>Inventory Control </h2>
            </div>
            <div>
                <form>

                    @*<div class="input-group">

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <a href="@Url.Action("Action", "Product")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                        </div>*@
                </form>
            </div>
        </div>
        <div class="filter">
            <input type="date" class="Filter-date" id="date-start" />&nbsp;
            To&nbsp;
            <input type="date" class="Filter-date" id="date-end" />
            <button type="button" class="filter-button btn btn-primary" id="date-button">Apply</button>
        </div>
        <br />
        @if (Model.Products != null)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Photo</th>
                                                <th>SKU</th>
                                                <th>Title</th>
                                                <th>Location</th>
                                                <th>Notes</th>
                                                <th>In</th>
                                                <th>Out</th>
                                                <th>Stock</th>
                                                <th>Alert</th>


                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                            @foreach (var item in Model.Products)
                                            {
                                                <tr>
                                                    <!--<td>
        <div class="dropdown">
            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list" aria-hidden="true"></i>

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Action", "StockMovement", new { ID = item.Product._Id })">
                    <i class="mdi mdi-pencil"></i> VIEW/EDIT
                </a>-->
                                                    @*<button data-href="@Url.Action("Delete", "Product", new { _Id = item.Product._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                    <!--<a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "Product", new { ID = item.Product._Id })" data-toggle="modal" data-target="#actionModal">
                    <i class="mdi mdi-delete"></i> DELETE
                </a>
            </div>
        </div>
    </td>-->
                                                    <td>
                                                        @if (item.Product._Photo != null)
                                                        {
                                                            <img style="height:50px; width:50px;" src="@item.Product._Photo" />

                                                        }
                                                        else
                                                        {
                                                            <img style="height:50px; width:50px;" src="~/Images/download.png" />

                                                        }
                                                    </td>
                                                    <td>@item.Product._SKU</td>
                                                    <td>@item.Product._Name</td>
                                                    @if (item.Warehouse != null && item.Warehouse._LocationName != null)
                                                    {
                                                        <td>@item.Warehouse._LocationName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>No warehouse Available</td>
                                                    }
                                                    <td>@item.Product._Notes</td>
                                                    <td>@item.Product._QuantityIn</td>
                                                    <td>@item.Product._QuantityOut</td>
                                                    <td>@item.Product._Quantity</td>
                                                    <td>@item.Product._LowStockAlert</td>


                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $("#date-button").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();
            const startDate = $("#date-start").val();
            const endDate = $("#date-end").val();

            if (!startDate || !endDate) {
                alert("Please select both start and end dates.");
                return; // Stop the process
            }

            // Clear the table rows
            $("#table-body").empty();

            // Send an AJAX request to retrieve filtered data
            $.ajax({
                url: `/Product/GetFilteredData`, // Replace with the actual URL
                data: { startDate: startDate, endDate: endDate },
                method: "GET",
                success: function (data) {
                    // Iterate through the returned data and create table rows
                    $.each(data, function (index, item) {
                        // Create a new table row and append it to the table body
                        var row = $("<tr>");
             
                        if (item._Photo !== null && item._Photo !== '') {
                            row.append("<td><img style='height:50px; width:50px;' src='" + item._Photo + "' /></td>");
                        } else {
                            row.append("<td><img style='height:50px; width:50px;' src='/Images/download.png' /></td>");
                        }
                       row.append("<td>" + item._SKU + "</td>");
                        row.append("<td>" + item._Name + "</td>");
                        row.append("<td>" + (item && item._Warehouse !== undefined && item._Warehouse !== '' ? item._Warehouse : 'No warehouse Available') + "</td>");
                        row.append("<td>" + item._Notes + "</td>");
                        row.append("<td>" + item._QuantityIn + "</td>");
                        row.append("<td>" + item._QuantityOut + "</td>");
                        row.append("<td>" + item._Quantity + "</td>");
                        row.append("<td>" + item._LowStockAlert + "</td></tr>");

                        // Append the created row to the table body
                        $("#table-body").append(row);
                    });
                    hideLoadingSpinner();
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });
    });
    $(".data-btn").click(function () {

        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>