﻿@model ImperialNova.ViewModels.CSVActionViewModel
@{
    ViewBag.Title = "Action";
}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .container-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back{
        margin-right: 10px;
    }
    .col-md-8{
        display:flex;
        justify-content: space-between;
    }
    input{
        width: 400px;
    }
    .setter {
        text-align: start;
        position: relative;
        left: -9px;
        width: 100%;
    }
    .file {
        width: 100%;
        position: relative;
        left: -50px;
    }
</style>
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.ID != 0)
            {
                <h2 class="card-title">
                    Edit CSV
                </h2>

            }
            else
            {
                <h2 class="card-title">
                    Add CSV
                </h2>

            }
            <div class="container">
                <form id="actionForm">
                    <div class="row form-container">

                        <input value="@Model.ID" type="hidden" class="form-control" name="ID id="ID" />
                        <div class="row setter">
                            <div class="form-group col-md-4">
                                <label for="_Date">Date&nbsp;</label>
                                @if (Model.ID != 0)
                                {@Html.TextBox("_Date", Model._Date, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "_Date", @class = "form-control", type = "date" })
                            }
                            else
                            {
                                @Html.TextBox("_Date", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "_Date", @class = "form-control", type = "date" })
                                @*<input value="@Model._Date" type="date" class="form-control" name="_Date" id="_Date" placeholder="Enter cost" />*@
                            }
                            </div>
                            <div class="form-group col-md-7">
                                <label for="_Description">Description&nbsp;</label>
                                <input value="@Model._Description" type="text" class="form-control" name="_Description" id="_Description" placeholder="Enter Description" />
                            </div>
                        </div>
                        <div class="form-group file col-md-11">
                            <label>Upload CSV file &nbsp;</label>

                            <input class="form-control" value="@Model._File" name="_File" id="_File" type="hidden" />
                            <input class="form-control" id="FileUpload" name="FileUpload" type="file" accept=".csv" />

                        </div>
                    </div>

                </form>



                <div class="errorDiv">

                </div>
            </div>
            <div style="background-color:white;" class="card-footer container-bottom">
                <a href="@Url.Action("Index","CSV")" class="btn btn-danger back"><i class="fas fa-times mr-1"></i> Cancel</a>
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Save & Continue</button>
                }

            </div>

        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $("#actionButton").click(function () {
        $("#actionButton").attr("disabled", "disabled");
        showLoadingSpinner();
		$.ajax({
			url: '@Url.Action("Action", "CSV")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "CSV")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#FileUpload").change(function () {
        debugger
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#_File").val(response.DocURL);
                    $("#FileImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
</script>