﻿@model ImperialNova.ViewModels.PaymentViewModel.PaymentActionViewModel
@{
    ViewBag.Title = "Action";
}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .container-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back{
        margin-right: 10px;
    }
    .col-md-8{
        display:flex;
        justify-content: space-between;
    }
    input{
        width: 400px;
    }
   /* .form-container{
        flex-direction: row;
    }*/
    /*.setter {
        justify-content: start;
        position: relative;
        left: -330px;
        top: 20px;
    }
    datesetter {
        display: flex;
        flex-direction: column;
        align-items: start;
    }*/
</style>
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model._Id != 0)
            {
                <h2 class="card-title">
                    Edit Payment
                </h2>

            }
            else
            {
                <h2 class="card-title">
                    Add Payment
                </h2>

            }
            <div class="container">
                <form id="actionForm" class="form-inline">
                    <div class="form-container">
                        <div class="row">
                            <input value="@Model._Id" type="hidden" class="form-control" name="_Id" id="_Id" />

                            <div class="form-group col-md-3">
                                <label for="_Name">Record# &nbsp;</label>
                                <input value="@Model._Record" type="text" class="form-control" name="_Record" id="_Record" placeholder="Enter name" />
                            </div>
                            <div class="form-group col-md-2 datesetter">
                                <label for="_Date">Date &nbsp;</label>
                                <input value="@Model._Date.ToString("yyyy-MM-dd")" type="date" class="form-control" name="_Date" id="_Date" />
                            </div>

                            <div class="form-group col-md-3">
                                <label for="_Individual">Individual &nbsp;</label>
                                <input value="@Model._Individual" type="text" class="form-control" name="_Individual" id="_Name" placeholder="Enter name" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="_Amount">Amount &nbsp;</label>
                                <input value="@Model._Amount" type="number" class="form-control" name="_Amount" id="_Amount" placeholder="Enter name" />
                            </div>
                        </div>
                       
                        <br />
                        <div class="form-group col-md-12 setter">
                            <label for="_Remarks">Remarks &nbsp;</label>
                            <input value="@Model._Remarks" type="text" class="form-control" name="_Remarks" id="_Remarks" placeholder="Enter name" />
                        </div>
                        @*<div class="form-group col-md-8">
        <label>File &nbsp;</label>

        <input class="form-control" value="@Model._File" name="_File" id="_File" type="hidden" />
        <input class="form-control" id="FileUpload" name="FileUpload" type="file" accept=".png, .jpg, .jpeg" />
        <div class="thumb">
            <img style="height:100px; width:100px" class="img-thumbnail img-fluid" id="FileImg" />
        </div>*@
                        @*<div class="thumb">
            <img style="height:100px; width:100px" class="img-thumbnail img-fluid" id="FileImg" />
        </div>*@
                    </div>

</form>



                <div class="errorDiv">

                </div>
            </div>
            <div style="background-color:white;" class="card-footer container-bottom">
                <a href="@Url.Action("Index","Payment")" class="btn btn-danger back"><i class="fas fa-times mr-1"></i> Cancel</a>
                @if (Model._Id != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Save</button>
                }

            </div>

        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Payment")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "Payment")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#FileUpload").change(function () {  
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#_File").val(response.DocURL);
                    $("#FileImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
</script>