@model ImperialNova.ViewModels.AdminViewModel
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>


</head>
<style>
    .scroll {
        overflow-x: scroll;
        width: contain;
    }

    td {
        width: 200px;
    }

    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }

    #example1_filter {
        float: right;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .fa-download:hover {
        color: black; /* Change the color to black on hover */
    }

    .del {
        color: red;
    }

    .Task {
        display: flex;
        justify-content: space-between;
    }

    .fa-file, .fa-edit {
        color: blue;
    }

    .topdiv {
        display: flex;
    }

    .task-checkbox {
        margin-top: 1px;
        margin-right: 6px;
    }

    .btn {
        margin-top: -7px;
    }

    .bottomdiv {
        position: absolute;
        left: 1025px;
    }

    .tab-attr {
        float: left;
    }

    .mover-date {
        padding-top: -1px;
    }

    .chkbox {
        padding-top: 2px;
    }

    .mover-description {
        /*text-decoration: line-through;*/
        margin-bottom: 1px;
    }

    .mover-file {
        margin-top: -21px;
        padding-top: 17px;
        height: 34px;
    }

    .completed {
        text-decoration: line-through;
    }

    .reminder-heading {
        background: #27aaf1;
        color: white;
        width: 100%;
        padding: 10px 20px;
    }
    .lowstocksection {
        max-height: 500px;
        overflow: scroll;
    }
    .shipmentcontainer {
        max-height: 500px;
        overflow: scroll;
    }
    .todocontainer {
        max-height: 500px;
        overflow: scroll;
    }
    .inventorycontainer {
        max-height: 500px;
        overflow: scroll;
    }
    .expensecontainer {
        max-height: 500px;
        overflow: scroll;
    }
    .remindercontainer {
        max-height: 500px;
        overflow: scroll;
    }
    .fastmover {
        max-height: 500px;
        overflow: scroll;
    }
    .slowmover {
        max-height: 500px;
        overflow: scroll;
    }
    .bottomdiv {
        position: absolute;
        left: 270px;
        margin-top: -25px;
    }
    .fast-title{
        background: #4cff00;
        width: 100%;
    }
    .slow-title {
        background: #ffd800;
        width: 100%;
    }
    .sizer{
        width: 100%;
    }
    .blue{
        background: #3542d5;
        color: white;
    }
    .red{
        background: #ff0000;
        color: white;
    }
    .yellow {
        background: #98a51e;
        color: white;
    }
    .green{
        background: #2b8b46;
        color: white;
    }
    .pink {
        background: #b339bd;
        color: white;
    }
    .gray {
        background: #808080;
        color: white;
    }
    .extra-class{
        margin-top:50px;
    }
    .label-container{
        display: flex;
        gap: 107px;
    }
    .filter{
        margin-left: 40px;
    }
    #TotalSales{
        margin-left: 40px;
    }
/*    .lowstocksection{
        max-width: 100%;
    }*/
</style>
<h2>Dashboard</h2>
<hr />
<div class="row">
    <div class="card  col-md-12">
        <div class="card-body">
            <h4 class="card-title">
                Hi, Admin
            </h4>
            <br />
            <div class="row">
                <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Action","Inventory")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card blue">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Inventory In</p>
                                    <h3 class="mb-0">@Model.InventoryIn</h3>
                                </div>
                                <i class="mdi mdi-briefcase-download icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 grid-margin stretch-card">
                    <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("ActionOut","Inventory")'" class="card red">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Inventory Out</p>
                                    <h3 class="mb-0">@Model.InventoryOut</h3>
                                </div>
                                <i class="mdi mdi-briefcase-upload icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Inventory")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card green">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Current Stock</p>
                                    <h3 class="mb-0">@Model.CurrentStock</h3>
                                </div>
                                <i class="mdi mdi-store icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card yellow">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Active Product</p>
                                    <h3 class="mb-0">@Model.ActiveProducts</h3>
                                </div>
                                <i class="mdi mdi-chart-areaspline icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card pink">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Active Product</p>
                                    <h3 class="mb-0">@Model.Customer</h3>
                                </div>
                                <i class="mdi mdi-chart-areaspline icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 grid-margin stretch-card">
                    <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="card gray">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Low Stock Product</p>
                                    <h3 class="mb-0">@Model.LowStockAlert</h3>
                                </div>
                                @*<svg style="height: 50px; margin: 10px;" class="icon-xl text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" fill="#6C7192" />
                        </svg>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card red">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Total Sales</p>
                                    <h3 class="mb-0">£@Model.TotalSales</h3>
                                </div>
                                <i class="mdi mdi-chart-areaspline icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="col-md-4 grid-margin stretch-card">
                    <div class="card gray">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Total Sales Cost</p>
                                    <h3 class="mb-0">£@Model.TotalCost</h3>
                                </div>
                                <i class="mdi mdi-chart-areaspline icon-xl text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 grid-margin stretch-card">
                    <div style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index","Product")'" class="card blue">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                                <div>
                                    <p class="mb-2 text-md-center text-lg-left">Profit</p>
                                    <h3 class="mb-0">£@Model.Profit</h3>
                                </div>-->
                                @*<svg style="height: 50px; margin: 10px;" class="icon-xl text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" fill="#6C7192" />
                        </svg>*@
                            <!--</div>
                        </div>
                    </div>
                </div>-->
            </div>


        </div>
    </div>


</div>
<hr />
<div class="row">
    <div class="container">
        <div class="card expensecontainer">
            <div class="card-body  container-top">
                <div class="card-header bg-gradient-danger sizer">
                    <h2>Expenses</h2>
                </div>

            </div>

            <div class="filter">
                <input type="date" class="Filter-date" id="date-start" />&nbsp;
                To&nbsp;
                <input type="date" class="Filter-date" id="date-end" />
                <button type="button" class="filter-button btn btn-danger" id="date-button">Apply</button><br /><br />

            </div>
            <br />

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Cost</th>

                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                        </tbody>

                                    </table>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


        </div>
        <div class="label-container">
            <label id="TotalSales"></label>
            <label id="ProductCost"></label>
            <label id="Additional-Expenses-Sum"></label>
            <label id="Profit"></label>
        </div>
    </div>
    
</div>
<hr />
<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>
<hr />
<div class="row">
    
        <div class="card col-md-6 fastmover">
            <div class="card-body  container-top">
                <div class="card-header bg-gradient-success sizer">
                    <h2>Fast Moving Stock </h2>
                </div>
                <div>
                    
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Photo</th>
                                                <th>SKU</th>
                                                <th>Title</th>
                                                <th>Stock</th>
                                                <th>Stock Alert</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Fastmoving)
                                            {
                                                <tr>


                                                    <td>
                                                        <img style="height:50px; width:50px;" src="@item._Photo" />
                                                    </td>
                                                    <td>@item._SKU</td>
                                                    <td>@item._Name</td>
                                                    <td>@item._Quantity</td>
                                                    <td>@item._LowStockAlert</td>


                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>
    
  
        <div class="card col-md-6 slowmover">
            <div class="card-body  container-top">
                <div class="card-header bg-gradient-warning sizer">
                    <h2>Slow Moving Stock</h2>
                </div>
                <div>
                    <form>

                        @*<div class="input-group">

                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <a href="@Url.Action("Action", "Product")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                            </div>*@
                    </form>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Photo</th>
                                                <th>SKU</th>
                                                <th>Title</th>
                                                <th>Stock</th>
                                                <th>Stock Alert</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Slowmoving)
                                            {
                                                <tr>


                                                    <td>
                                                        <img style="height:50px; width:50px;" src="@item._Photo" />
                                                    </td>
                                                    <td>@item._SKU</td>
                                                    <td>@item._Name</td>
                                                    <td>@item._Quantity</td>
                                                    <td>@item._LowStockAlert</td>


                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>
   
</div>
<div class="row">
    <div class="container">
        <div class="card remindercontainer">
            <div class="card-body  container-top">
                <div class="card-header bg-gradient-primary sizer">
                    <h2>Reminders</h2>
                </div>

            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Actions</th>
                                                <th>CreatedAt</th>
                                                <th>CreatedBy</th>
                                                <th>Title</th>
                                                <th>Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Reminders)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-list" aria-hidden="true"></i>

                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="@Url.Action("Action", "Reminder", new { ID = item._Id })">
                                                                    <i class="mdi mdi-pencil"></i> VIEW/EDIT
                                                                </a>
                                                                @*<button data-href="@Url.Action("Delete", "Reminder", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "Reminder", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="mdi mdi-delete"></i> DELETE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>@item._CreatedAt.ToString("yyyy-MM-dd")</td>
                                                    <td>@item._CreatedBy</td>
                                                    <td>@item._Title</td>
                                                    <td>@Html.Raw(item._Description)</td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


        </div>
    </div>
</div>


<div class="row">
    <div class="container col-md-8">
        <div class="card shipmentcontainer">
            <div class="card-body  container-top">
                <div>
                    <h2>Incoming Shipments </h2>
                </div>

            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card extra-class">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Actions</th>
                                                <th>Supplier</th>
                                                <th>Shipping Company</th>
                                                <th>Tracking#</th>
                                                <th>Qty</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Inventory)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-list" aria-hidden="true"></i>

                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="@Url.Action("Action", "InventoryIn", new { ID = item._Id })">
                                                                    <i class="mdi mdi-pencil"></i> VIEW/EDIT
                                                                </a>
                                                                @*<button data-href="@Url.Action("Delete", "InventoryIn", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "InventoryIn", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="mdi mdi-delete"></i> DELETE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>@item._Supplier</td>
                                                    <td>@item._ShippingCompany</td>
                                                    <td>@item._Tracking</td>
                                                    <td>@item._Quantity</td>
                                                    <td>£@item._Amount</td>
                                                    <td>@item._Status</td>
                                                    @*<td>@item._Name</td>*@
                                                    @*<td>
                                                            <a class="btn" href="@Url.Action("DownloadFile", "Shared", new { path = item._File })">
                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                            </a>
                                                        </td>*@
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


        </div>
    </div>
    <div class="card col-md-4 lowstocksection">
        <div class="card-header bg-gradient-danger">
            Low Stock Products
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            SKU
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Stock
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LowStockProducts)
                    {
                        <tr>
                            <td>@item._SKU</td>
                            <td>@item._Name</td>
                            <td>@item._Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">

    <div class="container col-md-8">
        <div>
            <div class="card inventorycontainer">
                <div class="card-body  container-top">
                    <div>
                        <h2>Inventory Out (Ready To Ship Orders)</h2>
                    </div>
                </div>

                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Actions</th>
                                                    <th>Date</th>
                                                    <th>Record#</th>
                                                    <th>Ship By Date</th>
                                                    <th>Tracking#</th>
                                                    <th>Customer</th>
                                                    <th>Qty</th>
                                                    <th>Amount</th>
                                                    <th>Packing</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Order)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-list" aria-hidden="true"></i>

                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" href="@Url.Action("Action", "Order", new { ID = item._Id })">
                                                                        <i class="mdi mdi-pencil"></i> VIEW/EDIT
                                                                    </a>
                                                                    @*<button data-href="@Url.Action("Delete", "Order", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                    <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "Order", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                        <i class="mdi mdi-delete"></i> DELETE
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>@item._Date.ToString("yyyy-MM-dd")</td>
                                                        <td>@item._Record</td>
                                                        <td>@item._ShipByDate.ToString("yyyy-MM-dd")</td>
                                                        <td>@item._Tracking</td>
                                                        <td>@item._Customer</td>
                                                        <td>@item._Quantity</td>
                                                        <td>£@item._Amount</td>
                                                        <td>@item._IsPacked</td>
                                                        <td>@item._Status</td>

                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>

            </div>
        </div>

    </div>
    <div class="container col-md-4">
        <div class="card todocontainer">
            <div class="card-body  container-top">
                <div>
                    <h2>TodoList </h2>
                </div>
                <div>
                    @*<form>

                            <div class="input-group">

                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <a href="@Url.Action("Action", "TodoList")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                            </div>
                        </form>*@
                </div>
            </div>


            <section class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form id="myForm">
                                        @Html.AntiForgeryToken()

                                        <table>
                                            <thead>

                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.TodoList)
                                                {


                                                    <tr>
                                                        <td class="chkbox">
                                                            @Html.CheckBoxFor(model => @item._Ticked)
                                                            <input type="hidden" name="id" value="@item._Id" />
                                                        </td>
                                                        <td class="tab-attr mover-date @((item._Ticked) ? "completed" : "")">@item._DueDate.ToString("yyyy-MM-dd") -</td>
                                                        <td class="tab-attr mover-description @((item._Ticked) ? "completed" : "")">
                                                            <div class="Task">
                                                                <div class="topdiv" style="display: flex; align-items: center;">
                                                                    @Html.DisplayFor(model => item._Description)
                                                                    <a class="btn mover-file" href="@Url.Action("DownloadFile", "Shared", new { path = item._File })">
                                                                        <i class="fa fa-file" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="float:right;">
                                                            <div class="bottomdiv">
                                                                <a class="edit" href="@Url.Action("Action", "TodoList", new { ID = item._Id })">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <a class="data-btn del" data-href="@Url.Action("Delete", "TodoList", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>



                                                }
                                            </tbody>
                                        </table>

                                        <input type="submit" value="Submit" style="display: none;" />
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


        </div>
    </div>
</div>









<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#date-button").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();
            const startDate = $("#date-start").val();
            const endDate = $("#date-end").val();

            if (!startDate || !endDate) {
                alert("Please select both start and end dates.");
                return; // Stop the process
            }

            // Clear the table rows
            $("#table-body").empty();

            // Send an AJAX request to retrieve filtered data
            $.ajax({
                url: `/Admin/FetchTotalSales`, // Replace with the actual URL
                data: { startDate: startDate, endDate: endDate },
                method: "GET",
                success: function (data) {
                    
                    // Iterate through the returned data and create table rows
                    $.each(data, function (index, item) {
                       
                        var timestampValue = item._Date;
                        var timestampMatch = timestampValue.match(/\d+/);
                        if (timestampMatch) {
                            // Parse the numeric part as an integer (assuming it's in milliseconds)
                            var timestampInMilliseconds = parseInt(timestampMatch[0]);

                            // Create a Date object from the timestamp
                            var date = new Date(timestampInMilliseconds);

                            // Format the date as a string in your desired format (e.g., yyyy-MM-dd)
                            var formattedDate = date.getFullYear() + "-" + (date.getMonth() + 1).toString().padStart(2, '0') + "-" + date.getDate().toString().padStart(2, '0');

                           /* console.log(formattedDate);*/
                        }                        // Create a new table row and append it to the table body
                        var row = $("<tr>");
                        row.append("<td>" + formattedDate + "</td>");
                        row.append("<td>" + item._Title + "</td>");
                        row.append("<td>£" + item._TotalExpenses + "</td></tr>");
                       
                        

                        // Append the created row to the table body
                        $("#table-body").append(row);
                    });

                    hideLoadingSpinner();
                },
                error: function (error) {
                    console.error("Error:", error);
                }

                
            });
            $.ajax({
                url: `/Admin/FetchTotalSaleExtra`, // Replace with the actual URL
                data: { startDate: startDate, endDate: endDate },
                method: "GET",
                success: function (data) {
                    /*console.log(test);*/
                    console.log(data.price);
                    if (data.price !== undefined) {
                        // Use jQuery to set the text content of the label
                        $("#TotalSales").text("| Total Sales: £" + data.price + " |");
                        $("#ProductCost").text("  |   Product Cost: £" + data.cost + " |");
                        $("#Additional-Expenses-Sum").text("| Additional Expenses Sum: £" + data.expenses + " |");
                        $("#Profit").text("|Profit: £" + data.profit + " |");
                        // Format the price with two decimal places
                    }
                    // Iterate through the returned data and create table rows
                    //$.each(data, function (index, item) {
                    //    var timestampValue = item._Date;
                    //    var timestampMatch = timestampValue.match(/\d+/);
                    //    if (timestampMatch) {
                    //        // Parse the numeric part as an integer (assuming it's in milliseconds)
                    //        var timestampInMilliseconds = parseInt(timestampMatch[0]);

                    //        // Create a Date object from the timestamp
                    //        var date = new Date(timestampInMilliseconds);

                    //        // Format the date as a string in your desired format (e.g., yyyy-MM-dd)
                    //        var formattedDate = date.getFullYear() + "-" + (date.getMonth() + 1).toString().padStart(2, '0') + "-" + date.getDate().toString().padStart(2, '0');

                    //        /* console.log(formattedDate);*/
                    //    }                        // Create a new table row and append it to the table body
                    //    var row = $("<tr>");
                    //    row.append("<td>" + formattedDate + "</td>");
                    //    row.append("<td>" + item._Title + "</td>");
                    //    row.append("<td>£" + item._TotalExpenses + "</td></tr>");



                    //    // Append the created row to the table body
                    //    $("#table-body").append(row);
                    /*});*/
                //    hideLoadingSpinner();
                },
                error: function (error) {
                    console.error("Error:", error);
                }


            });
        });
     const form = $("#myForm");

            // Function to send the AJAX request
            function sendAjaxRequest(id, checkboxState) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateData", "TodoList")",
                    data: { id: id, checkboxState: checkboxState },
                    success: function (response) {
                        alert(response);
                        if (response.Success) {
                            alert(response.Message);
                        } else {
                            alert("Error: " + response.Message);
                        }
                    },
                    error: function (err) {
                        alert(err);
                        alert("An error occurred.");
                    }
                });
            }

            $("input[type=checkbox]").change(function () {
                var isChecked = $(this).prop("checked");
                $(this).closest("tr").find(".tab-attr.mover-date, .tab-attr.mover-description").toggleClass("completed", isChecked);
                sendAjaxRequest(id, checkboxState);
            });
        //$("#example1").DataTable({

        //    "responsive": true, "lengthChange": false, "autoWidth": false,
        //    "buttons": ["csv", "colvis"]
        //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
      var dataPoints = @Html.Raw(ViewBag.DataPoints);

    dataPoints.forEach(dp => {
        dp.Month = new Date(dp.Month);
        dp.Month.setHours(0, 0, 0, 0); // Reset time to the beginning of the day
    });

    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dataPoints.map(dp => dp.Month),
            datasets: [{
                label: 'Quantity In',
                data: dataPoints.map(dp => ({ x: dp.Month, y: dp.QuantityIn })),
                borderColor: 'rgb(75, 192, 192)',
                fill: false
            }, {
                label: 'Quantity Out',
                data: dataPoints.map(dp => ({ x: dp.Month, y: dp.QuantityOut })),
                borderColor: 'rgb(192, 75, 75)',
                fill: false
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        displayFormats: {
                            month: 'MMM YYYY'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Exported Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantity'
                    }
                }
            }
        }
    });
</script>

