@model ImperialNova.ViewModels.DeliveryFormViewModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Content/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/template/vendors/mdi/css/materialdesignicons.min.css" />

    @*endinject
        plugin css for this page
        End plugin css for this page
        inject:css*@
    <link rel="stylesheet" href="~/Content/template/css/vertical-layout-light/style.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*endinject*@
    <link rel="shortcut icon" href="~/Content/template/images/g-icon-15.jpg" />

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
</head>
<style>
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding: 0px;
        width: 100%;
        margin-right: 200px;
        margin-left: auto;
    }
    #signature-pad {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .loading-spinner-overlay {
        display: none; /* Initially hidden */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999; /* Ensure it appears above all other content */
        background-color: rgba(0,0,0,0.5); /* Transparent black */
    }


    .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @@keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    #clear-button {
        width: 50%;
        transform: rotate(-90deg);
        transform-origin: left center;
        margin-left: 15px;
        margin-top: 150px;
    }

    #_Country:hover {
        border: 1px solid lightgreen; /* Border color */
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Box shadow (light green) */
    }

    .form-control, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
        height: 35px;
        border: 1px solid lightgray;
        font-weight: 400;
        border-radius: 3px;
        font-size: 0.75rem;
    }

    body {
        background-color: #F8F9FA;
        margin-left: -238px;
    }

    .vertical-line {
        width: 5px;
        height: 40px;
        background-color: #ccc;
    }

    .terms-modal {
        text-decoration: none;
        color: lawngreen;
    }

    a.terms-modal:visited {
        text-decoration: none;
        color: lawngreen;
    }

    /* Remove text decoration and make it green for hover state */
    a.terms-modal:hover {
        text-decoration: none;
        color: lawngreen;
        cursor: pointer;
    }

    /* Remove text decoration and make it green for active/focus state */
    a.terms-modal:focus, a.terms-modal:active {
        text-decoration: none;
        color: lawngreen;
    }

    .data-btn {
        background: none;
        color: lawngreen;
        border: none;
    }
</style>
<div id="loadingSpinner" class="loading-spinner-overlay">
    <div class="spinner"></div>
</div>
<br />
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="vertical-line"></div>
            <h3 style="margin-top: -35px; margin-left: 15px;" class="card-title">
                <b>Delivery Information</b>
            </h3>
            <p>
                - General Form <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-success">Logout</a>
            </p>
        </div>
        <div class="col-md-6">
            <img style=" float: right; width: 300px; " src="~/Content/adminTemplate/dist/img/logo.png" />
        </div>
    </div>
    <br />
    <form id="deliveryForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="_SlaesPerson">Sales Person:</label>
                    <input type="text" class="form-control" id="_SlaesPerson" name="_SlaesPerson">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="_Date">Date:</label>
                    <input value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control" id="_Date" name="_Date">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="_OrderNumber">Order Number:</label>
                    <input disabled type="text" class="form-control" value="@Model.OrderNumber" id="_OrderNumber" name="_OrderNumber">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="_CustomerName">Customer Name:</label>
                    <input type="text" class="form-control" id="_CustomerName" name="_CustomerName">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="_Address">Address:</label>
                    <input type="text" class="form-control" id="_Address" name="_Address">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="_Country">Country:</label>
                    <select class="form-control" id="_Country" name="_Country">
                        <option value="">Select a country</option>
                        <option value="Not Specified">Not Specified</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antarctica">Antarctica</option>
                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Bouvet Island">Bouvet Island</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                        <option value="Croatia (Hrvatska)">Croatia (Hrvatska)</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="East Timor">East Timor</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="France, Metropolitan">France, Metropolitan</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Territories">French Southern Territories</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard and Mc Donald Islands">Heard and Mc Donald Islands</option>
                        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                        <option value="Korea, Republic of">Korea, Republic of</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macau">Macau</option>
                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russian Federation">Russian Federation</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                        <option value="Saint LUCIA">Saint LUCIA</option>
                        <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia (Slovak Republic)">Slovakia (Slovak Republic)</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="St. Helena">St. Helena</option>
                        <option value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                        <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom" selected="selected">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Viet Nam">Viet Nam</option>
                        <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                        <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                        <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
                        <option value="Western Sahara">Western Sahara</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Yugoslavia">Yugoslavia</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="_ContactNo">Telephone Number:</label>
                    <input type="tel" class="form-control" id="_ContactNo" name="_ContactNo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="_PostCode">Zip/Post Code:</label>
                    <input type="text" class="form-control" id="_PostCode" name="_PostCode">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="_Email">Email:</label>
                    <input type="email" class="form-control" id="_Email" name="_Email">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="_Note">Special Note:</label>
                    <textarea class="form-control" id="_Note" name="_Note"></textarea>
                </div>
            </div>
        </div>
        <br />
        <div id="productsContainer">
            <div class="form-group product-row">
                <div class="input-group mb-3 ng-scope">
                    <span style="height:35px;" class="input-group-text ng-binding"> a) </span>
                    <input id="QuantityFirst" autocomplete="off" type="number" min="1" placeholder="Quantity" pattern="[0-9]+([\.,][0-9]+)?" class="form-control" aria-label="Quantity">
                    <span style="height:35px;" class="input-group-text"> X </span>
                    <input id="ProductNameFirst" type="text" class="form-control w-50 ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Product Name" aria-label="Product Name" aria-describedby="button-addon2" required="">
                    <button type="button" class="btn btn-sm btn-danger remove-product">Remove</button>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-sm  btn-success" id="addProduct">Add Product</button>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="_RequestedDate">Requested Delivery On:</label>
                    <input type="text" class="form-control" placeholder="ASAP / Date" id="_RequestedDate" name="_RequestedDate">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="_TotalAmount">Total Amount:</label>
                    <div class="input-group mb-3 ng-scope">
                        <span style="height:35px;" class="input-group-text">£ </span>
                        <input type="number" class="form-control" placeholder="0.00" id="_TotalAmount" name="_TotalAmount">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-12" for="_PayMethod">Paid Through:</label>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-3 ng-scope">
                        <label class="input-group-text" style="height: 35px;">
                            <input id="_CashPaidCB" type="checkbox" class="form-check" style="margin-top: 10px;">&nbsp; Cash
                        </label>
                        <span class="input-group-text" style="height: 35px;">£</span>
                        <input type="number" class="form-control" placeholder="0.00" id="_CashPaid" name="_CashPaid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-3 ng-scope">
                        <label class="input-group-text" style="height: 35px;">
                            <input id="_CardPaidCB" type="checkbox" class="form-check" style="margin-top: 10px;">&nbsp; Card
                        </label>
                        <span class="input-group-text" style="height: 35px;">£</span>
                        <input type="number" class="form-control" placeholder="0.00" id="_CardPaid" name="_CardPaid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-3 ng-scope">
                        <label class="input-group-text" style="height: 35px;">
                            <input id="_FinancePaidCB" type="checkbox" class="form-check" style="margin-top: 10px;">&nbsp; Finance
                        </label>
                        <span class="input-group-text" style="height: 35px;">£</span>
                        <input type="number" class="form-control" placeholder="0.00" id="_FinancePaid" name="_FinancePaid">
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="FinanceRow" class="row">
            <div class="col-md-12">
                <div class="input-group mb-3 ng-scope">
                    <span class="input-group-text" style="height: 35px;">Finance Company</span>
                    <input type="text" class="form-control" placeholder="Enter Company Name" id="_FinanceCompany" name="_FinanceCompany">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="_AmountPaid">Amount Paid:</label>
                    <div class="input-group mb-3 ng-scope">
                        <span style="height:35px;" class="input-group-text">£ </span>
                        <input type="number" class="form-control" id="_AmountPaid" name="_AmountPaid">
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="_AmountBalance">Amount Balance:</label>
                    <div class="input-group mb-3 ng-scope">
                        <span style="height:35px;" class="input-group-text">£ </span>
                        <input type="number" class="form-control" id="_AmountInBalance" name="_AmountInBalance">
                    </div>
                </div>

            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-6">
                <div style="border: solid 0.3px lightgreen;" class="card">
                    <div class="card-body">
                        <div class="col-md-12 py-4">
                            <p style="font-size:18px; background-color:white;">
                                The customer going to receive the mattress as order in this delivery document, the company will be not responsible for any wrong size if it's written different in this document.
                                Please check all details again.
                            </p>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="termsAndConditions" name="termsAndConditions">

                            <label for="termsAndConditions">I agree to <button data-href="@Url.Action("TermsAndConditions", "DeliveryForm")" type="button" class="data-btn" data-toggle="modal" data-target="#actionModal">terms and conditions</button></label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="acceptanceConfirmation" name="acceptanceConfirmation">

                            <label for="acceptanceConfirmation">I confirm acceptance and completion of the contract and satisfactory installation of the goods.</label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="authorizePayment" name="authorizePayment">

                            <label for="authorizePayment">I am happy to confirm the above and hereby authorise you to pay IMPERIAL TEAM LIMITED/IMPERIAL BAMBOO.</label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="goodsReceivedConfirmation" name="goodsReceivedConfirmation">

                            <label for="goodsReceivedConfirmation">I can confirm that the goods have been received and are to my satisfaction.</label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="financeApplicationConfirmation" name="financeApplicationConfirmation">

                            <label for="financeApplicationConfirmation">I can confirm that the details entered upon my Finance Application are true and correct and I am not aware of any change in circumstances that would affect my ability to repay this loan.</label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <input type="checkbox" id="creditAgreementConfirmation" name="creditAgreementConfirmation">

                            <label for="creditAgreementConfirmation">I understand that I will be bound by the terms and conditions of my credit agreement, a copy of which I have received, and I must pay a minimum monthly repayment by direct debit as stated in my credit agreement.</label>
                        </div>

                        <div style="display: flex; margin-bottom: 0.5rem; align-items: baseline; " class="form-group row">
                            <label for="satisfactionNoteConfirmation">PLEASE NOTE: THIS SATISFACTION NOTE IS TO BE SIGNED ONLY BY THE PERSON NAMED ON THE CREDIT AGREEMENT.</label>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <label class="text-center">Customer Signature</label>
                <div id="signature-pad">
                    <canvas id="inputCanvas" style="border: solid 0.3px lightgreen; background-color: white; width: 200%; touch-action: none; height: 170px;"></canvas>
                    <button type="button" class="btn btn-success btn-sm btn-block" id="clear-button">Clear</button>
                </div>
                @*<div id="signature-pad">
                        <canvas style="border: solid 0.3px lightgreen; background-color: white; width: 200%; touch-action: none; height: 170px;"></canvas>

                    </div>*@
            </div>
            @*<div style="width: 500px; height: 500px;">
                    <div id="signature-pad" class="signature-pad">
                        <canvas style="border: solid 0.3px lightgreen; background-color: white; width: 200%; touch-action: none; height: 170px;"></canvas>
                    </div>
                </div>*@

        </div>


        <hr />
        <button type="button" class="btn btn-success" id="SubmitForm">Submit</button>
    </form>

</div>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script src="~/Content/template/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="~/Content/template/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="~/Content/template/js/off-canvas.js"></script>
<script src="~/Content/template/js/hoverable-collapse.js"></script>
<script src="~/Content/template/js/template.js"></script>
<script src="~/Content/template/js/settings.js"></script>
<script src="~/Content/template/js/todolist.js"></script>
<script>
    $(document).ready(function () {
        $(".data-btn").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {

                    $("#actionModal .modal-dialog").html(response);
                });
        });

        var currentLabel = 'a';
        $("#addProduct").click(function () {
            var currentIndex = $(".product-row").length;
            var nextLabel = String.fromCharCode(currentLabel.charCodeAt(0) + currentIndex);

            var newProductRow = `
                <div class="fom-group product-row">
                <div class="input-group mb-3 ng-scope">
                <span style="height:35px;" class="input-group-text ng-binding">${nextLabel}) </span>
                    <input name="_Products[${currentIndex}]._ProductQuantity"  autocomplete="off" type="number" min="1" placeholder="Quantity" pattern="[0-9]+([\.,][0-9]+)?" class="form-control" aria-label="Quantity">
                    <span style="height:35px;" class="input-group-text"> X </span>
                    <input type="text" name="_Products[${currentIndex}]._ProductName" class="form-control w-50 ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Product Name" aria-label="Product Name" aria-describedby="button-addon2" required="">
                    <button type="button" class="btn btn-sm btn-danger remove-product">Remove</button>
                </div>

                </div>
            `;

            $("#productsContainer").append(newProductRow);
        });

        $(document).on("click", ".remove-product", function () {
            $(this).closest(".product-row").remove();
        });

        $("#SubmitForm").click(function () {
            $("#SubmitForm").attr("disabled", "disabled");
            showLoadingSpinner();
            var signatureData = inputCanvas.toDataURL('image/png');
            var productDataArray = [];

            var ProductNameFirst = $("#ProductNameFirst").val();
            var QuantityFirst = $("#QuantityFirst").val();
            if (ProductNameFirst != "") {
                debugger
                var productFirst = {
                    _ProductQuantity: QuantityFirst,
                    _ProductName: ProductNameFirst
                }
                productDataArray.push(productFirst);

            }

            $('.product-row').each(function () {
                var productData = {
                    _ProductQuantity: $(this).find('input[name^="_Products"]').val(),
                    _ProductName: $(this).find('input[name^="_Products"]').siblings('input[name$="_ProductName"]').val()
                };
                productDataArray.push(productData);

            });




            // Serialize the product data array as JSON
            var productDataString = JSON.stringify(productDataArray);
            // Iterate through all product rows
           /* var signatureData = signaturePad.toDataURL();*/

            // Serialize the product data array as JSON
            var productDataString = JSON.stringify(productDataArray);
            var encodedProductData = encodeURIComponent(productDataString);

            // Send AJAX request
            $.ajax({
                url: '@Url.Action("SubmitDeliveryForm", "DeliveryForm")',
                type: 'POST',
                data: $("#deliveryForm").serialize() + "&productData=" + encodedProductData + "&signatureData=" + signatureData,
                success: function (response) {
                    if (response.success) {
                        hideLoadingSpinner();
                        var signatureData = inputCanvas.toDataURL('image/png'); // Convert to data URL

                        // Send the signature data to the backend
                        $.post("/DeliveryForm/SaveSignature", { signatureData: signatureData }, function (result) {
                            // Handle the response (success or failure) as needed
                            if (result.success) {
                                //alert("Signature saved successfully!");
                                 var orderId = response._id; // Assuming you receive the order ID in the JSON response
                        window.open('@Url.Action("Invoice", "DeliveryForm")' + '?id=' + orderId, '_blank');
                        window.location.href = '@Url.Action("Listing", "DeliveryForm")';
                            } else {
                                alert("Error saving signature.");
                            }
                        });

                    } else {
                        hideLoadingSpinner();
                    }
                },
                error: function () {
                    hideLoadingSpinner();
                }
            });


        });

        const $totalAmount = $("#_TotalAmount");
        const $amountBalance = $("#_AmountInBalance");

        const $cashCheckbox = $("#_CashPaidCB");
        const $cashPaid = $("#_CashPaid");
        const $cardCheckbox = $("#_CardPaidCB");
        const $cardPaid = $("#_CardPaid");
        const $financeCheckbox = $("#_FinancePaidCB");
        const $financePaid = $("#_FinancePaid");
        const $amountPaid = $("#_AmountPaid");


        $totalAmount.on("input", function () {
            const totalAmount = parseFloat($totalAmount.val()) || 0;
            $amountBalance.val(totalAmount);
            updateAmountPaid();
        });

        function ShowFinanceCompany() {
            const $financeCompany = $("#FinanceRow"); // Assuming this is the ID of the element you want to show/hide

            if ($financeCheckbox.is(":checked")) {
                $financeCompany.show();
            } else {
                $("#_FinancePaid").val("");

                $financeCompany.hide();
            }
            updateAmountPaid();
        }

        $cashCheckbox.on("change", function () {
            if ($(this).is(':checked')) {
                // Checkbox is checked
                updateAmountPaid(); // You can pass true or false as an argument to updateAmountPaid based on the state
            } else {
                $("#_CashPaid").val("");
                updateAmountPaid(); // You can pass true or false as an argument to updateAmountPaid based on the state
            }
        }); $cardCheckbox.on("change", function () {
            if ($(this).is(':checked')) {
                // Checkbox is checked
                updateAmountPaid(); // You can pass true or false as an argument to updateAmountPaid based on the state
            } else {
                $("#_CardPaid").val("");
                updateAmountPaid(); // You can pass true or false as an argument to updateAmountPaid based on the state
            }
        });
        $financeCheckbox.on("change", ShowFinanceCompany);
        $cashPaid.on("input", updateAmountPaid);
        $cardPaid.on("input", updateAmountPaid);
        $financePaid.on("input", updateAmountPaid);

        function updateAmountPaid() {

            const totalAmount = parseFloat($totalAmount.val()) || 0;
            const cashPaid = $cashCheckbox.is(":checked") ? parseFloat($cashPaid.val()) || 0 : 0;
            const cardPaid = $cardCheckbox.is(":checked") ? parseFloat($cardPaid.val()) || 0 : 0;
            const financePaid = $financeCheckbox.is(":checked") ? parseFloat($financePaid.val()) || 0 : 0;
            /*const totalPaid = cashPaid + cardPaid + financePaid;*/
            const totalPaid = cashPaid + cardPaid + financePaid;
            const balance = totalAmount - totalPaid;

            $amountPaid.val(totalPaid.toFixed(2));
            $amountBalance.val(balance.toFixed(2));
        }


    });



    var signaturePad = new SignaturePad(document.querySelector('canvas'));

    document.getElementById('clear-button').addEventListener('click', function () {
        signaturePad.clear();
    });

</script>
