@model ImperialNova.ViewModels.DeliveryFormViewModel

@{
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Delivery Forms </h2>


                <form>

                    <div class="input-group">

                        <input type="text" class="form-control" name="SearchTerm" id="SearchTerm" />
                        <button value="@Model.SearchTerm" class="btn btn-primary" type="submit"><i class="fa fa-search mr-1"></i>Search</button>
                        <a href="@Url.Action("Listing","DeliveryForm")" class="btn btn-dark" ><i class="fa fa-search mr-1"></i>Reset</a>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<br />
<div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.forms != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    &nbsp;     &nbsp;     &nbsp;     &nbsp;
                                    <input type="checkbox" id="selectAll" class="form-check-input">
                                </th>
                                <th>
                                    Sales Person
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Total Amount
                                </th>
                                <th>
                                    Paid Amount
                                </th>
                                <th>
                                    Balance Amount
                                </th>
                                <th>
                                    View
                                </th>

                            </tr>
                            <tr id="bulkUpdateRow" style="display: none;">
                                <td colspan="13">
                                    <div class="form-inline">
                                        <!--<select id="statusDropdown" class="form-control mr-2">
                    <option value="Delete">Delete</option>-->
                                        @*<option value="Out for Delivery">Out for Delivery</option>
                    <option value="Delivery Complete">Delivery Complete</option>*@
                                        <!--</select>-->
                                        <button id="bulkUpdateButton" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.forms)
                            {
                                <tr data-sale-id="@item._id">
                                    <td class="collast" style="padding-left: 38px;">
                                        &nbsp;     &nbsp;     &nbsp;     &nbsp;

                                        <input type="checkbox" class="form-check-input  data-checkbox">
                                    </td>
                                    <td>@item._SlaesPerson</td>
                                    <td>@item._CustomerName</td>
                                    <td>@item._Address</td>
                                    <td>@item._Country</td>
                                    <td>@item._TotalAmount</td>
                                    <td>@item._AmountPaid</td>
                                    <td>@item._AmountInBalance</td>
                                    <td>
                                        <a class="btn btn-success btn-sm btn-rounded" href="@Url.Action("Invoice", "DeliveryForm", new {id=item._id })">VIEW</a>
                                        <button data-href="@Url.Action("Delete", "DeliveryForm", new { ID = item._id })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
    $(document).ready(function () {
        // When the "Select All" checkbox is clicked, select/deselect all checkboxes in the table
        $("#selectAll").change(function () {
            const isChecked = $(this).prop("checked");
            $(".data-checkbox").prop("checked", isChecked);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When any checkbox is clicked, show/hide the bulk update row based on the selection
        $(".data-checkbox").change(function () {
            $("#selectAll").prop("checked", false);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When the "Save" button is clicked, get the selected IDs and the chosen status and send them to the server
        $("#bulkUpdateButton").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();
            const selectedIds = [];
            $(".data-checkbox:checked").each(function () {
                selectedIds.push($(this).closest("tr").data("sale-id"));
            });

            const selectedStatus = $("#statusDropdown").val();

            // Send the selected IDs and status to the server using Ajax (modify the URL and data as needed)
            $.ajax({
                url: "/DeliveryForm/MassDelete",
                type: "POST",
                data: {
                    ids: selectedIds,
                    status: selectedStatus
                },
                success: function (response) {
                    // Handle the server response if needed
                    //alert("Status updated successful!");
                    location.reload();

                },
                error: function (error) {
                    // Handle errors if any
                    console.error("Error occurred during bulk update:", error);
                }
            });
        });
    });

</script>