﻿@model ImperialNova.ViewModels.SupplierActionViewModel
@{
    ViewBag.Title = "Action";
}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .container-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back{
        margin-right: 10px;
    }
    .col-md-8{
        display:flex;
        justify-content: space-between;
    }
    input{
        width: 400px;
    }
    .setter {
        position: relative;
        left: -108px;
    }
</style>
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model._Id != 0)
            {
                <h2 class="card-title">
                    Edit Supplier
                </h2>

            }
            else
            {
                <h2 class="card-title">
                    Add Supplier
                </h2>

            }
            <div class="container">
                <form id="actionForm">
                    <div class="form-container">
                        <input value="@Model._Id" type="hidden" class="form-control" name="_Id" id="_Id" />
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="_Name">Name<sup>*</sup> &nbsp;</label>
                                <input value="@Model._Name" type="text" class="form-control" name="_Name" id="_Name" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="_Email">Email<sup>*</sup>  &nbsp;</label>
                                <input value="@Model._Email" type="text" class="form-control" name="_Email" id="_Email" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="_Phone">Phone<sup>*</sup>  &nbsp;</label>
                                <input value="@Model._Phone" type="text" class="form-control" name="_Phone" id="_Phone" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="_Address">Address &nbsp;</label>
                                <input value="@Model._Address" type="text" class="form-control" name="_Address" id="_Address" />
                            </div>
                        </div>
                        <div class="row setter">
                            <div class="form-group col-md-3">
                                <label for="_Zip">Zip/Postal &nbsp;</label>
                                <input value="@Model._Zip" type="text" class="form-control" name="_Zip" id="_Zip" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="_City">City &nbsp;</label>
                                <input value="@Model._City" type="text" class="form-control" name="_City" id="_City" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="_Country">State/Country &nbsp;</label>
                                <input value="@Model._Country" type="text" class="form-control" name="_Country" id="_Country" />
                            </div>
                        </div>
                       </div>

</form>



                <div class="errorDiv">

                </div>
            </div>
            <div style="background-color:white;" class="card-footer container-bottom">
                <a href="@Url.Action("Index","Supplier")" class="btn btn-danger back"><i class="fas fa-times mr-1"></i> Cancel</a>
                @if (Model._Id != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-success"><i class="fas fa-save mr-1"></i> Save</button>
                }

            </div>

        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $("#actionButton").click(function () {
       
        var name = $('#_Name').val();
        var email = $('#_Email').val();
        var phone = $('#_Phone').val();
        if (name === '' || email === '' || phone === '') {
            alert('Please fill in all of the required fields.');
            return;
        }
        $("#actionButton").attr("disabled", "disabled");
        showLoadingSpinner();
		$.ajax({
			url: '@Url.Action("Action", "Supplier")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "Supplier")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#FileUpload").change(function () {  
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#_File").val(response.DocURL);
                    $("#FileImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
</script>