@model ImperialNova.ViewModels.ReminderListingViewModel

@{
}
@*<script src="~/Content/adminRemplate/plugins/datatables-buttons/js/buttons.print.min.js"></script>*@
@*<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.print.min.js"></script>*@
<script src="~/Content/adminTemplate/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/adminTemplate/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/adminTemplate/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/adminTemplate/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<style>
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }

    .dataTables_filter {
        float: right;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body  container-top">
            <div>
                <h2>Reminder </h2>
            </div>

        </div>
        @if (Model.Reminders != null)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="padding-left: 38px;">
                                                    &nbsp;     &nbsp;     &nbsp;     &nbsp;
                                                    <input type="checkbox" id="selectAll" class="form-check-input">
                                                </th>
                                                <th>Actions</th>
                                                <th>CreatedAt</th>
                                                <th>CreatedBy</th>
                                                <th>Title</th>
                                                <th>Description</th>

                                            </tr>
                                            <tr id="bulkUpdateRow" style="display: none;">
                                                <td colspan="13">
                                                    <div class="form-inline">
                                                        <!--<select id="statusDropdown" class="form-control mr-2">
                                                        <option value="Delete">Delete</option>-->
                                                        @*<option value="Out for Delivery">Out for Delivery</option>
                                                            <option value="Delivery Complete">Delivery Complete</option>*@
                                                        <!--</select>-->
                                                        <button id="bulkUpdateButton" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Reminders)
                                            {
                                                <tr data-sale-id="@item._Id">
                                                    <td class="collast" style="padding-left: 38px;">
                                                        &nbsp;     &nbsp;     &nbsp;     &nbsp;

                                                        <input type="checkbox" class="form-check-input  data-checkbox">
                                                    </td>
                                                    <td class="collast">
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-list" aria-hidden="true"></i>

                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="@Url.Action("Action", "Reminder", new { ID = item._Id })">
                                                                    <i class="mdi mdi-pencil"></i> VIEW/EDIT
                                                                </a>
                                                                @*<button data-href="@Url.Action("Delete", "Reminder", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "Reminder", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="mdi mdi-delete"></i> DELETE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>@item._CreatedAt.ToString("yyyy-MM-dd")</td>
                                                    <td>@item._CreatedBy</td>
                                                    <td>@item._Title</td>
                                                    <td>@Html.Raw(item._Description)</td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>

    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
    $(document).ready(function () {
        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            buttons: [
                {
                    extend: 'pdf',
                    text: 'PDF',
                    customize: function (doc) {
                        // Exclude columns by their index (0-based)
                        doc.content[1].table.body.forEach(function (row) {
                            row.splice(1, 1); // Remove columns 2 and 3
                        });
                    }
                },
                'csv' // Include other desired buttons
            ]
            
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        // When the "Select All" checkbox is clicked, select/deselect all checkboxes in the table
        $("#selectAll").change(function () {
            const isChecked = $(this).prop("checked");
            $(".data-checkbox").prop("checked", isChecked);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When any checkbox is clicked, show/hide the bulk update row based on the selection
        $(".data-checkbox").change(function () {
            $("#selectAll").prop("checked", false);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When the "Save" button is clicked, get the selected IDs and the chosen status and send them to the server
        $("#bulkUpdateButton").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();
            const selectedIds = [];
            $(".data-checkbox:checked").each(function () {
                selectedIds.push($(this).closest("tr").data("sale-id"));
            });

            const selectedStatus = $("#statusDropdown").val();

            // Send the selected IDs and status to the server using Ajax (modify the URL and data as needed)
            $.ajax({
                url: "/Reminder/MassDelete",
                type: "POST",
                data: {
                    ids: selectedIds,
                    status: selectedStatus
                },
                success: function (response) {
                    // Handle the server response if needed
                    //alert("Status updated successful!");
                    location.reload();

                },
                error: function (error) {
                    // Handle errors if any
                    console.error("Error occurred during bulk update:", error);
                }
            });
        });
    });

</script>