﻿@model ImperialNova.ViewModels.InventoryInActionViewModel
@{
    ViewBag.Title = "Action";
}

<style>
    #_Date, #_Tracking {
        margin-top: 1px;
    }

    .product-box input {
        margin-inline: auto;
    }

    #autocomplete {
        font-size: 12px;
        width: 400px;
    }

    .dropdownimg {
        width: 30px;
        height: 30px;
    }

    .setting {
        display: flex;
        gap: 5px;
    }

    #AdddToTableBtn {
        height: 34px;
        margin-top: 32px;
    }

    .QtyInput {
        width: 70px;
        height: 29px;
        margin-top: -2px;
        font-size: 15px;
    }

    .expdate {
        width: 87px;
    }

    .qtyinput {
        width: 50px;
    }

    .photo {
        width: 50px;
    }

    #output {
        float: right;
        position: relative;
        left: -332px;
        background: #aca1a1;
        padding: 2px;
    }
    .price{
        display: block;
    }
    #totalAmount {
        float: right;
        position: relative;
        left: -1px;
        background: #aca1a1;
        padding: 2px;
    }
</style>
<div class="card">

    <div class="card-body">
        @if (Model._Id != 0)
        {
            <h2 class="card-title">
                Edit Inventory
            </h2>

        }
        else
        {
            <h2 class="card-title">
                Add Inventory
            </h2>

        }
        <br /><br />
              <form id="actionForm">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                              <input type="hidden" value="@Model._Id" name="_Id" />
                              <label for="_Date">Date:</label>
                              @if (Model._Id != 0)
                              {@Html.TextBox("_Date", Model._Date, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "_Date", @class = "form-control", type = "date" })
                          }
                          else
                          {
                              @Html.TextBox("_Date", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "_Date", @class = "form-control", type = "date" })
                              @*<input value="@Model._Date" type="date" class="form-control" name="_Date" id="_Date" placeholder="Enter cost" />*@
                          }
                              @*<input value="@Model._Date" type="date" class="form-control" name="_Date" id="_Date" placeholder="Enter cost" />*@
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label for="_ShippingCompany">Shipping Company:</label>
                              <input class="form-control" name="_ShippingCompany" id="_ShippingCompany" />
                                  
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="_Tracking">Tracking#:</label>
                          <input value="@Model._Tracking" type="number" class="form-control" name="_Tracking" id="_Tracking" />

                      </div>
                      <div class="col-md-3">
                          <label for="_Supplier">Supplier:</label>
                          <input value="@Model._Supplier" type="text" class="form-control" name="_Supplier" id="_Supplier" />

                      </div>
                 
                  </div>
                  @if (Model._Id != 0)
                  {
                      <div class="col-md-3">
                          <div class="form-group">
                              <label for="_Status">Status:</label>
                              <select class="form-control" name="_Status" id="_Status">
                                  <option value="Pending Order">Pending Order</option>
                                  <option value="Completed">Completed</option>
                              </select>
                          </div>
                      </div>
                  }
                  else
                  {

                  }

                  @if (Model._Id != 0)
                  { }
                  else
                  {
                      <div class="col-md-3">
                          <div class="form-group">
                              <label for="_StoreId">Store:</label>
                              <select class="form-control" name="_StoreId" id="_StoreId">
                                  @foreach (var item in Model.locations)
                                  {
                                      <option selected value="@item._Id">@item._LocationName</option>
                                  }
                              </select>
                          </div>
                      </div>
                      <div class="setting">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="_ProductId">Products:</label>
                                  <select class="form-control" name="_ProductId" id="_ProductId">
                                  </select>
                              </div>
                          </div>
                          <button type="button" id="AdddToTableBtn" class="btn btn-sm btn-rounded btn-primary">ADD</button>
                      </div>
                  }

                  <div class="row">
                      <div class="col-md-12 table-responsive">
                          <table class="table" id="ProductsTable">
                              <thead>
                                  <tr>
                                      <th>
                                          Id
                                      </th>

                                      <th>
                                          SKU
                                      </th>
                                      <th>
                                          Title
                                      </th>
                                      <th>
                                          Expiry Date
                                      </th>

                                      @*@if (User.IsInRole("Admin"))
                            {
                                <th>
                                    Cost Price
                                </th>
                                <th>
                                    Retail Price
                                </th>
                            }*@
                                      <th>Quantity</th>
                                      <th>
                                          Price
                                      </th>
                                      <th>
                                          Amount
                                      </th>

                                      <th hidden>
                                          Category
                                      </th>

                                  </tr>
                              </thead>
                              <tbody>
                                  @if (Model._Id != 0)
                                  {
                                      foreach (var item in Model.products)
                                      {
                                          <tr>
                                              <td>@item._Id</td>

                                              <td>@item._SKU</td>
                                              <td>@item._Title</td>
                                              <td>
                                                  @Html.TextBox("_Date", Model._Date, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "_Date", @class = "form-control", type = "date" })
                                              </td>
                                              <td>@item._Qty</td>
                                              <td>£@item._Price</td>
                                              <td>£@item._Amount</td>
                                          </tr>
                                      }
                                  }
                              </tbody>
                          </table>
                          <hr />
                          <h6 id="output">Total : @Model._Quantity</h6>
                          <h6 id="totalAmount">Total Amount: £@Model._Amount</h6>
                          <input name="_Quantity" id="_TotalQuantity" type="hidden" />
                          <input name="_Amount" id="_TotalAmount" type="hidden" />
                      </div>
                  </div>
              </form>

    </div>

    <div class="errorDiv">

    </div>


    
    <div style="background-color:white;" class="card-footer">

        <button id="actionButton" type="button" class="btn btn-primary btn-sm btn-rounded"><i class="fas fa-save mr-1"></i> SAVE STOCK</button>
        <a href="@Url.Action("Index","InventoryIn")" class="btn btn-secondary btn-sm btn-rounded" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</a>
    </div>


</div>

@*<script type="text/javascript" src="src/jquery.autocomplete.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@*@if (User.IsInRole("Admin"))
    {*@
<script>
$(document).ready(function () {
             $('.QtyInput').on('change', function () {
                 updateTotalQuantity();

        });
        $(document).on('input', '.QtyInput', updateOutput);
    function updateOutput() {
        let sum = 0;
        let totalAmount = 0; // Initialize a variable to store the total amount
        const values = [];

        // Loop through all input fields with the class "QtyInput"
        $('.QtyInput').each(function () {
            const value = $(this).val();
            const priceWithDollarSign = $(this).closest('tr').find('.price').text();
            const price = parseFloat(priceWithDollarSign.replace('£', ''));

            values.push(value);
            const numericValue = parseFloat(value) || 0;
            sum += numericValue;
            const amount = numericValue * price;
            totalAmount += amount; // Add the amount to the totalAmount

            // Update the amount cell in the table.
            $(this).closest('tr').find('.amount').text('£' + amount.toFixed(2)); // Display the amount with 2 decimal places
        });

        // Set the content of the <h6> tag to display the total quantity
        $('#output').text(`Total Quantity: ${sum}`);
        $('#_TotalQuantity').val(sum);
        // Set the content of another <h6> tag to display the total amount
        $('#totalAmount').text(`Total Amount: £${totalAmount}`);
        $('#_TotalAmount').val(totalAmount);// Display the totalAmount with 2 decimal places
    }

    $("#_StoreId").change(function () {
                var selectedStore = $(this).val();
                $.getJSON("/InventoryIn/GetItems", { store: selectedStore }, function (data) {
                    var itemDropdown = $("#_ProductId");
                    itemDropdown.empty();
                    $.each(data, function (i, item) {
                        var option = $("<option></option>").attr("value", item._Id);
                        var image = item._Photo; // Convert image to string
                        var text = item._Name + " | " + item._SKU + " | Qty: " + item._Quantity;

                        // Append the image and text to the option
                        option.append('<img class="dropdownimg" src="' + image + '"/>');
                        option.append(text);

                        // Append the option to the dropdown
                        itemDropdown.append(option);
                    });
                });
            });


        $("#AdddToTableBtn").click(function () {
            var ProductID = $("#_ProductId").val();


        $.ajax({
            url: '@Url.Action("GetProductJson", "Adjustment")',  // Replace with the actual URL of your controller
            method: 'GET',
            data: { ID: ProductID },
            success: function (data) {
                //, QuantityIn, Store, Notes
                appendProductToTable(data);


            },
            error: function () {
                $('#productDetails').html('<p>Failed to fetch product details.</p>');
            }
        });


        });
    //, quantityin, store, Notes
    function appendProductToTable(product) {
        var today = new Date().toISOString().split('T')[0];
                var row = `
               <tr>
  <td>${product._Id}</td>
  <td>${product._SKU}</td>
  <td>${product._Name}</td>
<td class="expdate"><input class="ExpiryDate" type="date" id="_ExpiryDate" value="${today}" /></td>  <td class="qtyinput"><input class="QtyInput" type="number" id="_Quantity"/></td>
  <td class="price">£${product._Cost}</td>
  <td class="amount"  id="_Amount"></td>
</tr>
            `;

                $('#ProductsTable tbody').append(row);
            }
    })
        var totalQuantity = 0;

        // Function to update the total quantity and display it in the <h6> tag
        function updateTotalQuantity() {
            totalQuantity = 0; // Reset total quantity
            // Loop through all input fields with class "QtyInput"
            $('.QtyInput').each(function () {
                var quantity = parseInt($(this).val()) || 0; // Parse quantity as an integer, default to 0
                totalQuantity += quantity; // Add the quantity to the total
            });
            // Display the total quantity in the element with ID "totalQuantity"
            $('#totalQuantity').text('Total Quantity: ' + totalQuantity);
        }
    $("#actionButton").click(function () {


      
       
        //var expiryDateInput = $("#_ExpiryDate");
       
        //expiryDateInput.on("input", function () {
        //    // Check if the value is empty
        //    if ($(this).val() === "") {
        //        // Show an alert
        //        alert("Expiry Date is empty!");
        //    }
        var products = [];

        $('#ProductsTable tbody tr').each(function () {
            var product = {
                _ProductId: $(this).find('td:eq(0)').text(),
                _SKU: $(this).find('td:eq(1)').text(),
                _Name: $(this).find('td:eq(2)').text(),
                _ExpiryDate: $(this).find('td:eq(3) input').val(), // Assuming _ExpiryDate is in an input field
                _Quantity: $(this).find('td:eq(4) input').val(),  // Assuming _Quantity is in an input field
                _Price: $(this).find('td:eq(5)').text().replace('£', ''),
                _Amount: $(this).find('td:eq(6)').text().replace('£', ''),
            };
          
            products.push(product);
        });
 
        $("#actionButton").attr("disabled", "disabled");
        showLoadingSpinner();
        var productsJson = JSON.stringify(products);

            console.log(productsJson);
            var sender = $("#actionForm").serialize();
            $.ajax({
			url: '@Url.Action("Action", "InventoryIn")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
			if(response.success)
            {
                $.ajax({
			url: '@Url.Action("ActionProducts", "InventoryIn")',
			type: "post",
            data: { products: productsJson}, // Send serialized string as parameter
        })
            .done(function (response) {
			if(response.success)
			{
                				window.location.href = "@Url.Action("Index", "InventoryIn")";

			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});

			}
			else {
				$(".errorDiv").html(response.Message);
			}
            });


        })






    $("#PhotoUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPhotos", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#Photo").val(response.DocURL);
                    $("#PhotoImg").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
</script>
