@model ImperialNova.ViewModels.InventoryInListingViewModel

@{
}
<style>
    .addbtn {
        border-radius: 50%;
        padding: 10px;
        background: black;
        color: white;
        border: 1px solid black;
    }

    .container-top {
        display: flex;
    }

    .fa-download {
        color: blue; /* Set the default color to blue */
        transition: color 0.3s; /* Add a smooth color transition */
    }

        .fa-download:hover {
            color: black; /* Change the color to black on hover */
        }

    #example1_filter {
        float: right;
    }

    .form-control-sm {
        margin-top: 1px;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body  container-top">
            <div>
                <h2>Inventory In </h2>
            </div>
            @*<div>
                    <form>

                        <div class="input-group">

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <a href="@Url.Action("Action", "InventoryIn")" class=" addbtn btn btn-outline-success"><i class="fas fa-plus mr-1"></i></a>

                        </div>
                    </form>
                </div>*@
        </div>
        @if (Model.inventoryins != null)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="padding-left: 38px;">
                                                    &nbsp;     &nbsp;     &nbsp;     &nbsp;
                                                    <input type="checkbox" id="selectAll" class="form-check-input">
                                                </th>
                                                <th>Actions</th>
                                                <th>Supplier</th>
                                                <th>Shipping Company</th>
                                                <th>Tracking#</th>
                                                <th>Qty</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr id="bulkUpdateRow" style="display: none;">
                                                <td colspan="13">
                                                    <div class="form-inline">
                                                        <!--<select id="statusDropdown" class="form-control mr-2">
                <option value="Delete">Delete</option>-->
                                                        @*<option value="Out for Delivery">Out for Delivery</option>
                    <option value="Delivery Complete">Delivery Complete</option>*@
                                                        <!--</select>-->
                                                        <button id="bulkUpdateButton" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.inventoryins)
                                            {
                                                <tr data-sale-id="@item._Id">
                                                    <td class="collast" style="padding-left: 38px;">
                                                        &nbsp;     &nbsp;     &nbsp;     &nbsp;

                                                        <input type="checkbox" class="form-check-input  data-checkbox">
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-rounded btn-secondary btn-icon-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-list" aria-hidden="true"></i>

                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="@Url.Action("Action", "InventoryIn", new { ID = item._Id })">
                                                                    <i class="mdi mdi-pencil"></i> VIEW/EDIT
                                                                </a>
                                                                @*<button data-href="@Url.Action("Delete", "InventoryIn", new { _Id = item._Id })" class="dropdown-item data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>*@

                                                                <a class="data-btn dropdown-item" data-href="@Url.Action("Delete", "InventoryIn", new { ID = item._Id })" data-toggle="modal" data-target="#actionModal">
                                                                    <i class="mdi mdi-delete"></i> DELETE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>@item._Supplier</td>
                                                    <td>@item._ShippingCompany</td>
                                                    <td>@item._Tracking</td>
                                                    <td>@item._Quantity</td>
                                                    <td>£@item._Amount</td>
                                                    <td>@item._Status</td>
                                                    @*<td>@item._Name</td>*@
                                                    @*<td>
                    <a class="btn" href="@Url.Action("DownloadFile", "Shared", new { path = item._File })">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </td>*@
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#example1").DataTable({

            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
    $(document).ready(function () {
        // When the "Select All" checkbox is clicked, select/deselect all checkboxes in the table
        $("#selectAll").change(function () {
            const isChecked = $(this).prop("checked");
            $(".data-checkbox").prop("checked", isChecked);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When any checkbox is clicked, show/hide the bulk update row based on the selection
        $(".data-checkbox").change(function () {
            $("#selectAll").prop("checked", false);
            $("#bulkUpdateRow").toggle($(".data-checkbox:checked").length > 0);
        });

        // When the "Save" button is clicked, get the selected IDs and the chosen status and send them to the server
        $("#bulkUpdateButton").click(function () {
            $("#actionButton").attr("disabled", "disabled");
            showLoadingSpinner();
            const selectedIds = [];
            $(".data-checkbox:checked").each(function () {
                selectedIds.push($(this).closest("tr").data("sale-id"));
            });

            const selectedStatus = $("#statusDropdown").val();

            // Send the selected IDs and status to the server using Ajax (modify the URL and data as needed)
            $.ajax({
                url: "/InventoryIn/MassDelete",
                type: "POST",
                data: {
                    ids: selectedIds,
                    status: selectedStatus
                },
                success: function (response) {
                    // Handle the server response if needed
                    //alert("Status updated successful!");
                    location.reload();

                },
                error: function (error) {
                    // Handle errors if any
                    console.error("Error occurred during bulk update:", error);
                }
            });
        });
    });
</script>